/* App.css */

/* General styles */
body {
  background-color: #f0f0f0 !important;
}

.container {
  margin-top: 50px !important;
}

/* Card styles */
.card-header {
  background-color: #00a8ff !important;
  color: white !important;
  font-weight: bold !important;
}

.card-footer {
  background-color: #f0f0f0 !important;
}

.btn-info {
  background-color: #00a8ff !important;
  border-color: #00a8ff !important;
  transition: background-color 0.3s ease;
}

.btn-info:hover {
  background-color: #0077b6 !important;
}

/* Form input styles */
.input-group-text {
  background-color: #00a8ff !important;
  color: white !important;
}

.form-control:focus {
  border-color: #00a8ff !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 168, 255, 0.25) !important;
}

/* Table styles */
.table-centered {
  margin-left: auto;
  margin-right: auto;
}

.table thead th {
  background-color: #00a8ff !important;
  color: white !important;
}

.table tbody tr:hover {
  background-color: #e6e6e6 !important;
}

.btn-custom {
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-custom:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.tooltip-text {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.alert-icon:hover + .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.alert-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
